.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.show_pc {
  display: none;
}
img {
  width: 100%;
}
.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
em {
  font-style: normal;
  &.txt_or {
    color: $or;
  }
  &.txt_gr {
    color: $gr
  }
}
.txt_yel {
  color: $yel_2;
}
.header {
  .logo {
    width: percentage(173 / 640);
    padding: percentage(25/ 640) 0 percentage(20 /640);
    margin: 0 auto;
  }
  p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: percentage(30 / 640);
  }
  nav {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url('../images/nav_bee_sp.png') no-repeat;
      width: 50px;
      height: 50px;
      background-size: contain;
      top: -48px;
      right: percentage(40 / 640);
    }
    ul {
      display: flex;
      li {
        padding: percentage(20/ 600) 0;
        background: rgba(0, 0, 0, 0.8);
        width: calc(100% / 4);
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid $w;
        }
        a {
          font-size: 11.5px;
          font-weight: bold;
          color: $w;
          transition: all .3s ease-in-out;
          font-family: "Yugothic";
          display: block;
          text-decoration: none;
          width: 100%;
        }
      }
    }
  }
}
main {
  .prbee {
    background: $w;
    padding: percentage(50 / 640) 0 percentage(58 / 640);
    &_top {
      padding: 0 percentage(20 / 600);
      figure {
        width: percentage(380 / 600);
        margin: 0 auto;
      }
      p {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        line-height: 27px;
      }
    }
    &_txt {
      padding: percentage(40 / 640) 0;
    }
  }
  .price {
    width: percentage(180 / 600);
    margin: 0 auto;
  }
  .building {
    width: 100%;
  }
  .intro {
    position: relative;
    &_top {
      .banner {
        position: relative;
        figure {
          width: 100%;
        }
        h2 {
          position: absolute;
          top: percentage(50 / 600);
          left: percentage(60 / 600);
          font-size: 18px;
          color: $navy;
          letter-spacing: 2px;
          span {
            font-size: 14px;
            color: $w;
            display: block;
            letter-spacing: 1px;
          }
          em {
            color: $w;
            font-style: normal;
            letter-spacing: 2px;
          }
        }
      }
    }
    &_txt {
      margin-top: percentage(-100 / 600);
      p{
        padding: percentage(20 / 600) percentage(40 / 600);
      }
      .left {
        p {
          background: #002638;
          opacity: 0.85;
          color: $w;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .right {
        p {
          color: $navy;
          background: $w;
          span {
            display: block;
            letter-spacing: 2px;
            &:nth-of-type(1) {
              font-size: 12px;
            }
            &:nth-of-type(2) {
              font-size: 16px;
              font-weight: bold;
            }
            &:nth-of-type(3) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .enjoylife {
    background: $bg;
    padding: percentage(75 / 640) 0;
    margin-top: per(-6 / 640);
    figure {
      width: 100%;
    }
    .clearfix {
      position: relative;
    }
    &_sns {
      position: absolute;
    }
    &_eat {
      padding-bottom: percentage(55 / 640);
      .enjoylife_sns {
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
      .sns_bg {
        background: $w;
        width: 170px;
        height: 170px;
        border-radius: 100%;
        position: relative;
        padding: 24px 18px;
        &:after {
          content: "";
          background: url('../images/twiter_icon.png') no-repeat;
          width: 30px;
          height: 22px;
          position: absolute;
          top: 76px;
          left: 50%;
          transform: translate(-50%, -50%);
          background-size: contain;
        }
        p {
          text-align: center;
          color: $black;
          &.blue_txt {
            color: #009bdc;
            padding: 0 10px 34px 10px;
          }
        }
      }
    }
    &_painting {
      .enjoylife_sns {
        left: 36px;
        bottom: 50px;
      }
      .sns_bg {
        padding: 105px 0 0;
        &:after {
          content: "";
          background: url('../images/ins_icon.png') no-repeat;
          width: 63px;
          height: 63px;
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translate(-50%, 0);
          background-size: contain;
        }
        p {
          color: $w;
        }
      }
    }
    .sns_bg {
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .communicte {
    padding: 61px 0;
    h3 {
      font-size: 17px;
      text-align: center;
      padding: 0 25px;
    }
    &_inner {
      padding: percentage(55 / 640) 0;
      .tool {
        width: 100%;
        p {
          color: $w;
          text-align: center;
          font-size: 12px;
          width: 230px;
          height: 50px;
          line-height: 50px;
          &:nth-of-type(1) {
            margin: 0 auto;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }
      .left {
        background: $grey;
        margin-bottom: 25px;
        p {
          background: $black;
        }
        figure {
          width: percentage(540 / 640);
          margin: percentage(25 / 640) auto;
        }
      }
      .right {
        background: $yel;
        p {
          background: $or;
        }
        .list_inner {
          position: relative;
          padding: 10px 0;
          &:after {
            content: "";
            position: absolute;
            background: url('../images/bee_icon.png')no-repeat;
            width: 40px;
            height: 85px;
            bottom: -33px;
            right: 0;
            background-size: contain;
          }
          span {
            background: $w;
            width: percentage(580 / 640);
            height: 55px;
            font-size: 18px;
            font-size: 12px;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
            border-radius: 24px;
            padding: 0 10px;
          }
        }
      }
    }
  }
  .service {
    background: $yel;
    padding: 60px 0 50px;
    h2 {
       text-align: center;
       font-size: 20px;
       letter-spacing: 1.5px;
       color: $navy;
    }
    p {
      text-align: center;
    }
    &_price {
      color: $navy;
      font-size: 14px;
      margin-bottom: 20px;
      em {
        color: $red;
        font-size: 19px;
      }
    }
    &_help {
      background: $navy;
      color: $yel_2;
      width: percentage(550 / 640);
      margin:  0 auto 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 52px;
      font-size: 14px;
      border-radius: 30px;
      padding: 2px 30px 0 30px;
    }
    .list {
      margin: 20px 0;
      &:nth-of-type(1) {
        li {
          padding: 20px 0;
          &:nth-of-type(1){
            height: 110px;
            padding: 26px 0;
          }
          span {
            &:nth-of-type(1){
              font-size: 18px;
              text-align: center;
              line-height: 24px;
              margin-bottom: 10px;
            }
            em {
              display: block;
              font-size: 14px;
            }
          }
        }
      }
      &:nth-of-type(2) {
        li {
          position: relative;
          &:not(:last-child) {
            margin-bottom: 63px;
          }
          &:not(first-child) {
            border-top: 1px solid $black;
          }
          &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          &:nth-of-type(1) {
            &:after {
              background: url('../images/coffee_icon.png')no-repeat;
              background-size: contain;
              width: 56px;
              height: 56px;
              top: 13px;
            }
          }
          &:nth-of-type(2) {
            &:after {
              background: url('../images/sns_icon.png')no-repeat;
              background-size: contain;
              width: 156px;
              height: 36px;
              top: 24px;
            }
          }
          &:nth-of-type(3) {
            &:after {
              background: url('../images/mobile_tool.png')no-repeat;
              background-size: contain;
              width: 52px;
              height: 52px;
              top: 13px;
            }
          }
          p {
            background: $or;
            font-size: 12px;
            width: 210px;
            height: 45px;
            line-height: 45px;
            color: $w;
            margin: -39px auto 64px;
          }
          span {
            text-align: center;
          }
        }
      }
      li {
        width: percentage(580 / 640);
        height: 149px;
        background: $w;
        border-bottom: 1px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        margin: 0 auto;
        &:first-child {
          border-top: 1px solid $black;
        }
        span {
          display: block;
          font-size: 12px;
          line-height: 20px;
          &:not(:first-child) {
            padding: 0 20px 0 20px;
          }
        }
      }
    }
    .txt_bt {
      font-size: 17px;
      line-height: 25px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
    &_support {
      background: $gr;
      padding: 25px 0;
      .support_man {
        p {
          text-align: left
        }
        .txt_yel {
          padding: 20px 114px 0 126px;
          font-size: 14px;
        }
        figure {
        }
        .clearfix {
          border-bottom: 1px solid $w;
          height: 98px;
          p {
            padding: 19px 21px 12px 19px;
            font-size: 12px;
            line-height: 18px;
            color: $w;
          }
        }
      }
      .left {
        .men {
          display: flex;
          figure {
            width: 51px;
            margin-top: 6px;
          }
          p {
            width: calc(100% - 51px);
          }
        }
      }
      .right {
        .women {
          display: flex;
          figure {
            width: 61px;
            margin-top: 12px;
          }
          p {
            width: calc(100% - 61px);
          }
        }
      }
    }
  }
}
