//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
  background: $w;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
em {
  font-style: normal;
  &.txt_or {
    color: $or;
  }
  &.txt_gr {
    color: $gr
  }
}
.txt_yel {
  color: $yel_2;
}
.frame {
  height: 58px;
  line-height: 58px;
  margin: -58px auto 0;
}
.mobile_number {
  display: block;
  position: relative;
  text-decoration: none;
  color: $black;
  pointer-events: none;
  &:after {
    content: "";
    position: absolute;
    background: url('../images/mobile_icon.png')no-repeat;
    left: 0;
  }
}
.show_sp {
  display: none;
}
.header,
.logo,
.header ul li,
.header ul li a {
   transition: all .5s ease;
}
.header {
  .logo {
    width: 151px;
    padding: 24px 0 15px;
  }
  p {
    float: left;
    padding: 53px 20px 15px 39px;
    font-size: 14px;
  }
  nav {
    padding: 53px 20px 0;
    ul {
      display: flex;
      li {
        &:not(:last-child) {
          padding-right: 54px;
        }
        a {
          font-size: 14px;
          font-weight: bold;
          color: $black;
          transition: all .3s ease-in-out;
          display: block;
          text-decoration: none;
          padding-left: 28px;
          &.mobile_number {
            font-size: 18px;
            margin-top: -6px;
            &:after {
              width: 24px;
              height: 25px;
              background-size: contain;
              top: 0;
              left: 0;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}
.bounceInRight {
  animation-name: bounceInRight;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: $w;
  animation: smoothScroll .5s forwards;
}
//keyframes/
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes bounceInLeft {
   0% {
      opacity: 0;
      transform: translateX(-500px);
   }
   60% {
      opacity: 1;
      transform: translateX(30px);
   }
   80% {
      transform: translateX(-10px);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes bounceInRight {
   0% {
      opacity: 0;
      transform: translateX(500px);
   }
   60% {
      opacity: 1;
      transform: translateX(-30px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
.visible-title {
  visibility: visible;
}
.main-padding {
  padding-top: 123px;
}
.prbee {
  padding: 34px 0 49px;
  &_top {
    display: flex;
    align-items: center;
    .bee_character {
      width: 280px;
      animation-duration: 2s;
      animation-duration: 2s;
      animation-fill-mode: both;
    }
  }
  &_txt {
    padding: 0 58px;
    animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    p {
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: bold;
      margin: 3px 0;
    }
  }
  .price {
    width: 270px;
    animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    // margin: -24px auto 32px;
  }
  .building {
    width: 100%;
    animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
.intro {
  position: relative;
  &_top {
    .banner {
      position: relative;
      figure {
        width: 100%;
      }
      h2 {
        width: 408px;
        position: absolute;
        top: 63px;
        left: 100px;
        font-size: 42px;
        color: $navy;
        letter-spacing: 10px;
        span {
          font-size: 25px;
          color: $w;
          display: block;
          letter-spacing: 2.2px;
          margin-bottom: 15px;
        }
        em {
          color: $w;
          font-style: normal;
          letter-spacing: 4px;
        }
      }
    }
  }
  &_txt {
    background: url('../images/intro_txt_bg.png') repeat;
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 229px;
    p {
      height: 229px;
    }
    .left {
      width: 50%;
      p {
        opacity: 0.85;
        color: $w;
        font-size: 17px;
        line-height: 32px;
        padding: 50px 111px;
      }
    }
    .right {
      width: 50%;
      p {
        color: $navy;
        background: $w;
        padding: 58px 100px 75px 30px;
        span {
          display: block;
          letter-spacing: 2px;
          &:nth-of-type(1) {
            font-size: 20px;
          }
          &:nth-of-type(2) {
            font-size: 30px;
            font-weight: bold;
          }
          &:nth-of-type(3) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.enjoylife {
  background: $bg;
  padding: 75px 0;
  margin-top: -6px;
  figure {
    width: 980px;
  }
  .clearfix {
    position: relative;
  }
  &_sns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &_eat {
    padding-bottom: 55px;
    .enjoylife_sns {
      right: 57px;
    }
    .sns_bg {
      padding: 43px 72px;
      &:after {
        content: "";
        background: url('../images/twiter_icon.png') no-repeat;
        width: 65px;
        height: 58px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: contain;
      }
      p {
        text-align: center;
        &.blue_txt {
          color: #009bdc;
          padding: 0 0 101px 0px;
        }
      }
    }
  }
  &_painting {
    .enjoylife_sns {
      left: 57px;
    }
    .sns_bg {
      padding: 124px 50px 35px;
      &:after {
        content: "";
        background: url('../images/ins_icon.png') no-repeat;
        width: 63px;
        height: 63px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        background-size: contain;
      }
      p {
        margin: 8px 0;
      }
    }
  }
  .sns_bg {
    background: $w;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    p {
      font-size: 14px;
      line-height: 23px;
      color: $black;
    }

  }
  .right {
    p {
      &:nth-of-type(1) {
        color: $blue;
        letter-spacing: 1px;
        padding: 0 18px 101px 0px;
      }
    }
  }
}
.communicte {
  background: $w;
  padding: 61px 0;
  h3 {
    text-align: center;
    font-size: 24px;
  }
  &_inner {
    padding: 95px 0 49px;
    .tool {
      width: 50%;
      p {
        color: $w;
        text-align: center;
        &:nth-of-type(1) {
          width: 333px;
        }
        &:nth-of-type(2) {
          height: 71px;
          line-height: 71px;
        }
      }
    }
    .left {
      background: $grey;
      p {
        background: $black;
      }
      figure {
        width: 447px;
        margin: 37px auto;
      }
    }
    .right {
      background: $yel;
      p {
        background: $or;
      }
      .list_inner {
        position: relative;
        padding: 20px 0;
        &:after {
          content: "";
          position: absolute;
          background: url('../images/bee_icon.png')no-repeat;
          width: 69px;
          height: 88px;
          bottom: -19px;
          right: 38px;
          background-size: contain;
        }
        span {
          background: $w;
          width: 497px;
          height: 54px;
          line-height: 54px;
          font-size: 14px;
          text-align: center;
          display: block;
          margin: 20px auto;
          border-radius: 24px;
        }
      }
    }
  }
}
.service {
  background: $yel;
  padding: 60px 0 50px;
  h2 {
     text-align: center;
     font-size: 28px;
     letter-spacing: 1.5px;
     color: $navy;
  }
  p {
    text-align: center;
  }
  &_price {
    color: $navy;
    font-size: 25px;
    letter-spacing: 3px;
    em {
      color: $red;
      font-size: 40px;
    }
  }
  &_help {
    background: $navy;
    color: $yel_2;
    height: 70px;
    font-size: 25px;
    line-height: 70px;
    border-radius: 40px;
    margin: 33px 80px 73px;
  }
  .list {
    display: flex;
    &:nth-of-type(1) {
      padding: 30px 0;
      li {
        span {
          &:nth-of-type(1){
            font-size: 25px;
            text-align: center;
            line-height: 32px;
            margin-bottom: 10px;
          }
          em {
            display: block;
            font-size: 14px;
          }
        }
      }
    }
    &:nth-of-type(2) {
      margin: 111px 0 50px;
      li {
        padding: 10px 43px 25px 40px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-of-type(1) {
          &:after {
            background: url('../images/coffee_icon.png')no-repeat;
            background-size: contain;
            width: 76px;
            height: 77px;
            top: 6px;
          }
        }
        &:nth-of-type(2) {
          &:after {
            background: url('../images/sns_icon.png')no-repeat;
            background-size: contain;
            width: 248px;
            height: 51px;
            top: 30px;
          }
        }
        &:nth-of-type(3) {
          &:after {
            background: url('../images/mobile_tool.png')no-repeat;
            background-size: contain;
            width: 84px;
            height: 85px;
            top: 6px;
          }
        }
        p {
          background: $or;
          width: 292px;
          font-size: 15px;
          color: $w;
          margin-bottom: 89px;
        }
        span {
          padding: 0 0px 0 31px;
          letter-spacing: 1px;
        }
      }
    }
    li {
      width: calc(100% / 3);
      min-height: 202px;
      background: $w;
      padding: 25px 43px 25px 40px;
      border: 1px solid $black;
      span {
        display: block;
        font-size: 14px;
        line-height: 23px;
      }
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  .txt_bt {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  &_support {
    background: $gr;
    padding: 25px 0;
    .support_man {
      width: 50%;
      padding-left: 47px;
      p {
        text-align: left
      }
      .txt_yel {
        padding: 20px 114px 0 126px;
      }
      figure {
      }
      .clearfix {
        border-bottom: 1px solid $w;
        margin-right: 117px;
        height: 162px;
        p {
          padding: 24px 0 21px 38px;
          font-size: 15px;
          line-height: 27px;
          color: $w;
        }
      }
    }
    .left {
      .men {
        figure {
          width: 91px;
        }
        p {
          width: calc(100% - 91px);
        }
      }
    }
    .right {
      .women {
        figure {
          width: 106px;
          margin-top: 12px;
        }
        p {
          width: calc(100% - 106px);
        }
      }
    }
  }
}
.help {
  background: $w;
  padding: 70px 0;
  h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .left {
    width: 50%;
    h4 {
      color: $red;
    }
  }
  .right {
    padding-left: 98px;
    width: 50%;
    h4 {
      color: $black;
    }
    figure {
      width: 460px;
    }
    p {
      padding: 20px 20px 0 20px;
      line-height: 27px;
      font-size: 14px;
    }
  }
  .table {
    border-top: 1px solid $black;
  }
  dl {
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    display: flex;
    dt {
      border-right: 1px solid $black;
      text-align: center;
      font-size: 16px;
      display: block;
      text-align: center;
      padding: 30px 30px;
    }
    dd {
      text-align: center;
      padding: 30px 30px;
      span {
        position: relative;
        font-size: 16px;
        &:after {
          content: "";
          position: absolute;
          background: $black;
          width: 69px;
          height: 2px;
          top: 10px;
          right: -7px;
        }
      }
      em {
        font-size: 24px;
        color: $red;
        margin-left: 20px;
        font-weight: bold;
      }
    }
  }

}
.bd-l {
  position: relative;
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 1px;
  &:after {
    content: "";
    position: absolute;
    background: $black;
    width: 5px;
    height: 27px;
    top: 1px;
    left: 0;
  }
}
.option {
  background: $w;
  padding: 0 0 30px;
  h4 {
    margin-bottom: 67px;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: 190px;
      margin-bottom: 23px;
      text-align: center;
      margin-bottom: 68px;
      margin-left: 51.5px;
      margin-right: 51.5px;
      figure {
        // width: 222px;
        height: 149px;
        margin: 0 auto;
        figcaption {
          text-align: center;
          font-size: 12px;
        }
      }
      &:nth-of-type(1) {
        figure {
          width: 147px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 147px;
        }
      }
      &:nth-of-type(3) {
        figure {
          width: 151px;
        }
      }
      &:nth-of-type(4) {
        figure {
          width: 142px;
        }
      }
      &:nth-of-type(5) {
        figure {
          width: 148px;
        }
      }
      &:nth-of-type(6) {
        figure {
          width: 84px;
        }
      }
      &:nth-of-type(7) {
        figure {
          width: 126px;
        }
      }
      &:nth-of-type(8) {
        figure {
          width: 126px;
        }
      }
    }
  }
}
.partner {
  background: $w;
  padding-bottom: 60px;
  h4 {
    margin-bottom: 28px;
  }
  &_cover {
    padding: 30px 0;
    display: flex;
    align-items: center;
    figure {
      width: 177px;
    }
    article {
      width: calc(100% - 177px);
      padding: 0 40px;
      h5 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-left: 12px;
        &:after {
          content: "";
          position: absolute;
          background: $black;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          left: 0;
          top: 7px;
        }
      }
      p {
        font-size: 14px;
        line-height: 23px;
        text-align: justify;
      }
    }
  }
}
.contact {
  background: $w;
  padding: 0 0 80px;
  h4 {
    margin-bottom: 60px;
  }
  p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .row_form {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    label {
      float: left;
      width: 240px;
      font-size: 15px;
      line-height: 35px;
      padding-left: 21px;
      display: flex;
      justify-content: space-between;
      em {
        display: block;
        font-style: normal;
        width: 43px;
        height: 28px;
        background: $yel_2;
        border-radius: 6px;
        font-size: 12px;
        line-height: 28px;
        margin-top: 5px;
        text-align: center;
      }
    }
    .wrap {
      margin-left: 290px;
      font-size: 15px;
      line-height: 35px;
      input[type="text"] {
        width: calc(100% - 20px);
        height: 35px;
        border: 1px solid $black;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 0 15px;
        font-size: 14px;
        line-height: 33px;
        color: #000;
        outline: none;
        appearance: none;
      }
    }
    textarea {
      width: 640px;
      border: 1px solid $black;
      border-radius: 8px;
      padding: 0 15px;
      font-size: 14px;
      line-height: 33px;
      color: #000;
      outline: none;
      appearance: none;
      resize: vertical;
      display: block;
      margin: 0;
      height: 124px;
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    button {
      cursor: pointer;
      width: 183px;
      height: 52px;
      border: none;
      display: block;
      padding: 0;
      background: $black;
      font-size: 15px;
      line-height: 52px;
      color: #fff;
      outline: none;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: all .3s;
      &:hover {
        opacity: 0.8;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 9px;
        height: 9px;
        right: 14px;
        top: 22px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        transition: all .3s ease-out;
      }
    }
  }
}
.scrollTop {
  width: 105px;
  position: fixed;
  right: 30px;
  bottom: 204px;
  opacity: 0;
  visibility: hidden;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-4px);
  }
}
.show {
  opacity: 1;
  visibility: visible;
}
.footer {
  background: $grey;
  padding: 50px 0;
  &_inner {
    .left {
      width: 50%;
      display: flex;
      align-items: center;
      figure {
        width: 152px;
      }
      .company_address {
        padding: 0 60px;
        span {
          display: block;
          margin: 10px 0;
          &:nth-of-type(1) {
            font-size: 17px;
            line-height: 26px;
            font-weight: bold;
          }
        }
        a {
          color: $black;
          text-decoration: none;
          margin-top: 5px;
          display: block;
        }
      }
    }
    .right {
      margin-left: 150px;
      .mobile_number {
        font-size: 30px;
        padding-bottom: 20px;
        padding-left: 48px;
        border-bottom: 1px solid $black;
        margin-bottom: 25px;
        padding-right: 21px;
        &:after {
          content: "";
          position: absolute;
          background: url('../images/mobile_icon.png')no-repeat;
          width: 36px;
          height: 37px;
          top: 4px;
          left: 0;
          background-size: contain;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}
