//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
  background: $bg;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.header {
  .logo {
    width: 151px;
    padding: 24px 0 15px;
  }
  nav {
    padding: 41px 0 0;
    ul {
      display: flex;
      li {
        padding-right: 54px;
        a {
          font-size: 14px;
          font-weight: bold;
          color: $black;
          transition: all .3s ease-in-out;
          font-family: "Yugothic";
          display: block;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.prbee {
  background: $w;
  padding: 50px 0 49px;
  &_top {
    display: flex;
    figure {
      width:487px;
      margin: 0 auto;
    }
    p {
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: bold;
      padding: 0 165px;
      writing-mode: vertical-rl;
      word-wrap: break-word;
      white-space: nowrap;
    }
  }
  .price {
    width: 352px;
    margin: -136px auto 48px;
  }
  .building {
    width: 100%;
  }
}
.intro {
  position: relative;
  &_top {
    .banner {
      position: relative;
      figure {
        width: 100%;
      }
      h2 {
        width: 408px;
        position: absolute;
        top: 63px;
        left: 100px;
        font-size: 42px;
        color: $navy;
        letter-spacing: 10px;
        span {
          font-size: 25px;
          color: $w;
          display: block;
          letter-spacing: 2.2px;
          margin-bottom: 15px;
        }
        em {
          color: $w;
          font-style: normal;
          letter-spacing: 4px;
        }
      }
    }
  }
  &_txt {
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 229px;
    p {
      height: 229px;
    }
    .left {
      width: 40%;
      p {
        background: #002638;
        opacity: 0.85;
        color: $w;
        font-size: 18px;
        line-height: 30px;
        padding: 8% 31% 9% 66px;
      }
    }
    .right {
      width: 60%;
      p {
        color: $navy;
        background: $w;
        padding: 58px 100px 75px 30px;
        span {
          display: block;
          letter-spacing: 2px;
          &:nth-of-type(1) {
            font-size: 20px;
          }
          &:nth-of-type(2) {
            font-size: 30px;
            font-weight: bold;
          }
          &:nth-of-type(3) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.enjoylife {
  .sns_bg {
    background: $w;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    &:nth-of-type(1) {
      padding: 43px 59px 41px 59px;
      &:after {
        content: "";
        background: url("../images/twiter_icon.png") no-repeat;
        width: 65px;
        height: 58px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: contain;
      }
    }
    &:nth-of-type(2) {
      &:after {
        content: "";
        background: url("../images/ins_icon.png") no-repeat;
        width: 63px;
        height: 63px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        background-size: contain;
      }
    }
    p {
      font-size: 14px;
      line-height: 23px;
      color: $black;
    }

  }
  .right {
    p {
      &:nth-of-type(1) {
        color: $blue;
        letter-spacing: 1px;
        padding: 0 18px 101px 0px;
        text-align: justify;
        text-indent: 16px;
      }
    }
  }
}
.communicte {
  background: $w;
  h3 {
    text-align: center;
  }
  &_inner {
    .left {
      background: $grey;
      p {
        background: $black;
        &:nth-of-type(1) {
          width: 333px;
          height: 58px;
          line-height: 58px;
        }
      }
      figure {
        width: 447px;
        margin: 0 auto;
      }
    }
  }
}
