.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.show_pc {
  display: none;
}
img {
  width: 100%;
}
.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
em {
  font-style: normal;
  &.txt_or {
    color: $or;
  }
  &.txt_gr {
    color: $gr
  }
}
.txt_yel {
  color: $yel_2;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background: $w;
  .logo {
    width: percentage(173 / 640);
    padding: percentage(25/ 640) 0 percentage(20 /640);
    margin: 0 auto;
  }
  p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: percentage(30 / 640);
  }
  nav {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url('../images/nav_bee_sp.png') no-repeat;
      width: 50px;
      height: 50px;
      background-size: contain;
      top: -48px;
      right: percentage(40 / 640);
    }
    ul {
      display: flex;
      li {
        padding: percentage(20/ 600) 0;
        background: rgba(0, 0, 0, 0.8);
        width: calc(100% / 4);
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid $w;
        }
        a {
          font-size: 11.5px;
          font-weight: bold;
          color: $w;
          transition: all .3s ease-in-out;
          display: block;
          text-decoration: none;
          width: 100%;
        }
      }
    }
  }
}
.fixed-header {
  width: 100%;
  transition: all .3s ease-in-out;
  .logo {
    width: percentage(110/ 640);
    padding: percentage(20/ 640) 0 percentage(15/ 640);
    font-size: 0;
    transition: all .3s ease-in-out;
  }
  p {
    font-size: 12px;
    margin-bottom: percentage(10 / 640);
  }
}
.visible-title {
  visibility: visible;
}
main {
  .prbee {
    background: $w;
    padding: percentage(350 / 640) 0 percentage(58 / 640);
    &_top {
      padding: 0 percentage(20 / 600);
      figure {
        width: percentage(380 / 600);
        margin: 0 auto;
      }
      p {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        line-height: 27px;
      }
    }
    &_txt {
      padding: percentage(40 / 640) 0;
    }
  }
  .price {
    width: percentage(180 / 600);
    margin: 0 auto;
  }
  .building {
    width: 100%;
  }
  .intro {
    position: relative;
    &_top {
      .banner {
        position: relative;
        figure {
          width: 100%;
        }
        h2 {
          position: absolute;
          top: percentage(50 / 600);
          left: percentage(60 / 600);
          font-size: 18px;
          color: $navy;
          letter-spacing: 2px;
          span {
            font-size: 14px;
            color: $w;
            display: block;
            letter-spacing: 1px;
          }
          em {
            color: $w;
            font-style: normal;
            letter-spacing: 2px;
          }
        }
      }
    }
    &_txt {
      margin-top: percentage(-100 / 600);
      p{
        padding: percentage(20 / 600) percentage(40 / 600);
      }
      .left {
        p {
          background: #002638;
          opacity: 0.85;
          color: $w;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .right {
        p {
          color: $navy;
          background: $w;
          span {
            display: block;
            letter-spacing: 2px;
            &:nth-of-type(1) {
              font-size: 12px;
            }
            &:nth-of-type(2) {
              font-size: 16px;
              font-weight: bold;
            }
            &:nth-of-type(3) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .enjoylife {
    background: $bg;
    padding: percentage(75 / 640) 0;
    margin-top: per(-6 / 640);
    figure {
      width: 100%;
    }
    .clearfix {
      position: relative;
    }
    &_sns {
      position: absolute;
    }
    &_eat {
      padding-bottom: percentage(55 / 640);
      .enjoylife_sns {
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
      .sns_bg {
        background: $w;
        width: 170px;
        height: 100%;
        position: relative;
        padding: 24px 18px;
        &:after {
          content: "";
          background: url('../images/twiter_icon.png') no-repeat;
          width: 30px;
          height: 22px;
          position: absolute;
          top: 76px;
          left: 50%;
          transform: translate(-50%, -50%);
          background-size: contain;
        }
        p {
          text-align: center;
          color: $black;
          &.blue_txt {
            color: #009bdc;
            padding: 0 10px 34px 10px;
          }
        }
      }
    }
    &_painting {
      .enjoylife_sns {
        left: 22px;
        bottom: 47px;
      }
      .sns_bg {
        padding: 72px 0 0;
        &:after {
          content: "";
          background: url('../images/ins_icon.png') no-repeat;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translate(-50%, 0);
          background-size: contain;
        }
        p {
          color: $w;
        }
      }
    }
    .sns_bg {
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .communicte {
    padding: percentage(72 / 640) 0;
    h3 {
      font-size: 17px;
      text-align: center;
      padding: 0 25px;
    }
    &_inner {
      padding: percentage(55 / 640) 0;
      .tool {
        width: 100%;
        p {
          color: $w;
          text-align: center;
          font-size: 12px;
          width: 230px;
          height: 50px;
          line-height: 50px;
          &:nth-of-type(1) {
            margin: 0 auto;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }
      .left {
        background: $grey;
        margin-bottom: 25px;
        p {
          background: $black;
        }
        figure {
          width: percentage(540 / 640);
          margin: percentage(25 / 640) auto;
        }
      }
      .right {
        background: $yel;
        p {
          background: $or;
        }
        .list_inner {
          position: relative;
          padding: 10px 0;
          &:after {
            content: "";
            position: absolute;
            background: url('../images/bee_icon.png')no-repeat;
            width: 40px;
            height: 85px;
            bottom: -33px;
            right: 0;
            background-size: contain;
          }
          span {
            background: $w;
            width: percentage(580 / 640);
            height: 55px;
            font-size: 18px;
            font-size: 12px;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
            border-radius: 24px;
            padding: 0 10px;
          }
        }
      }
    }
  }
  .service {
    background: $yel;
    padding: percentage(60 / 640) 0 percentage(80 / 640);
    h2 {
       text-align: center;
       font-size: 20px;
       letter-spacing: 1.5px;
       color: $navy;
    }
    p {
      text-align: center;
    }
    &_price {
      color: $navy;
      font-size: 14px;
      margin-bottom: 20px;
      em {
        color: $red;
        font-size: 19px;
      }
    }
    &_help {
      background: $navy;
      color: $yel_2;
      width: percentage(550 / 640);
      margin:  0 auto 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 52px;
      font-size: 14px;
      border-radius: 30px;
      padding: 2px 30px 0 30px;
    }
    .list {
      margin: 20px 0;
      &:nth-of-type(1) {
        li {
          padding: 20px 0;
          span {
            &:nth-of-type(1){
              font-size: 18px;
              text-align: center;
              line-height: 24px;
              margin-bottom: 10px;
            }
            em {
              display: block;
              font-size: 14px;
            }
          }
        }
      }
      &:nth-of-type(2) {
        li {
          position: relative;
          &:not(:last-child) {
            margin-bottom: 63px;
          }
          &:not(first-child) {
            border-top: 1px solid $black;
          }
          &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          &:nth-of-type(1) {
            &:after {
              background: url('../images/coffee_icon.png')no-repeat;
              background-size: contain;
              width: 56px;
              height: 56px;
              top: 13px;
            }
          }
          &:nth-of-type(2) {
            &:after {
              background: url('../images/sns_icon.png')no-repeat;
              background-size: contain;
              width: 156px;
              height: 36px;
              top: 24px;
            }
          }
          &:nth-of-type(3) {
            &:after {
              background: url('../images/mobile_tool.png')no-repeat;
              background-size: contain;
              width: 52px;
              height: 52px;
              top: 13px;
            }
          }
          p {
            background: $or;
            font-size: 12px;
            width: 210px;
            height: 45px;
            line-height: 45px;
            color: $w;
            margin: -39px auto 64px;
          }
          span {
            text-align: center;
          }
        }
      }
      li {
        width: percentage(580 / 640);
        height: 149px;
        background: $w;
        border-bottom: 1px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        margin: 0 auto;
        &:first-child {
          border-top: 1px solid $black;
        }
        span {
          display: block;
          font-size: 12px;
          line-height: 20px;
          &:not(:first-child) {
            padding: 0 20px 0 20px;
          }
        }
      }
    }
    .txt_bt {
      font-size: 17px;
      line-height: 25px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
    &_support {
      background: $gr;
      padding: 0 15px 25px;
      .support_man {
        p {
          text-align: left
        }
        .txt_yel {
          text-align: center;
          font-size: 14px;
        }
        figure {
        }
        .clearfix {
          border-bottom: 1px solid $w;
          height: 126px;
          margin-bottom: 10px;
          p {
            padding: 34px 11px 12px 19px;
            font-size: 12px;
            line-height: 18px;
            color: $w;
          }
        }
      }
      .left {
        .men {
          display: flex;
          figure {
            width: 51px;
            margin-top: 35px;
          }
          p {
            width: calc(100% - 51px);
          }
        }
      }
      .right {
        .women {
          display: flex;
          figure {
            width: 61px;
            margin-top: 39px;
          }
          p {
            width: calc(100% - 61px);
          }
        }
      }
    }
  }
  .help {
    background: $w;
    padding: percentage(70 /640) percentage(20 / 640);
    h4 {
      font-size: 17px;
      text-align: center;
      margin-bottom: 20px;
    }
    .left {
      h4 {
        color: $red;
      }
      margin-bottom: percentage(40 / 600);
    }
    .right {
      h4 {
        color: $black;
      }
      figure {
        width: 280px;
        margin: 0 auto;
      }
      p {
        line-height: 20px;
        font-size: 12px;
        padding: 9px 5px 11px 18px;
      }
    }
    .table {
      border-top: 1px solid $black;
    }
    dl {
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
      border-right: 1px solid $black;
      display: flex;
      height: 60px;
      align-items: center;
      dt {
        border-right: 1px solid $black;
        text-align: center;
        font-size: 14px;
        display: block;
        text-align: center;
        padding: 21px 19px 19px;
      }
      dd {
        padding: 14px 30px;
        font-size: 14px;
        span {
          position: relative;
          font-size: 14px;
          &:after {
            content: "";
            position: absolute;
            background: $black;
            width: 58px;
            height: 2px;
            top: 6px;
            right: -4px;
          }
        }
        em {
          font-size: 20px;
          color: $red;
          margin-left: 15px;
          font-weight: bold;
        }
      }
    }

  }
  .bd-l {
    position: relative;
    padding-left: 15px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: percentage(40 / 590);
    &:after {
      content: "";
      position: absolute;
      background: $black;
      width: 4px;
      height: 23px;
      top: 2px;
      left: 0;
    }
  }
  .option {
    background: $w;
    padding: percentage(30 / 640) percentage(24 / 640) percentage(20 / 640);
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        width: calc(100% / 2);
        margin-bottom: 23px;
        text-align: center;
        margin-bottom: 30px;
        figure {
          height: 87px;
          margin: 0 auto;
        }
        p {
          font-size: 12px;
          line-height: 18px;
          margin-top: 5px;
        }
        &:nth-of-type(1) {
          figure {
            width: 101px;
          }
        }
        &:nth-of-type(2) {
          figure {
            width: 100px;
          }
        }
        &:nth-of-type(3) {
          figure {
            width: 103px;
          }
        }
        &:nth-of-type(4) {
          figure {
            width: 96px;
          }
        }
        &:nth-of-type(5) {
          figure {
            width: 101px;
          }
        }
        &:nth-of-type(6) {
          figure {
            width: 58px;
          }
        }
        &:nth-of-type(7) {
          figure {
            width: 85px;
          }
        }
        &:nth-of-type(8) {
          figure {
            width: 86px;
          }
        }
      }
    }
  }
  .partner {
    background: $w;
    padding-bottom: percentage(30 / 640);
    padding: percentage(30 / 640) percentage(24 / 640) percentage(20 / 604);
    &_cover {
      padding: 0 0 24px;
      figure {
        width: 180px;
        margin: 0 auto;
      }
      article {
        padding: 13px 12px;
        h5 {
          font-size: 14px;
          font-weight: bold;
          position: relative;
          margin-bottom: 5px;
          padding-left: 14px;
          &:after {
            content: "";
            position: absolute;
            background: $black;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            left: 0;
            top: 5px;
          }
        }
        p {
          font-size: 12px;
          line-height: 18px;
          text-align: justify;
        }
      }
    }
  }
  .contact {
    background: $w;
    padding: percentage(30 / 640) percentage(24 / 640) percentage(100 / 640);
    p {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .row_form {
      padding: 10px 0;
      border-top: 1px solid #e5e5e5;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      label {
        font-size: 12px;
        line-height: 34px;
        display: flex;
        em {
          display: block;
          font-style: normal;
          width: 41px;
          height: 23px;
          background: $yel_2;
          border-radius: 6px;
          font-size: 12px;
          line-height: 23px;
          margin-top: 4px;
          margin-left: 10px;
          text-align: center;
        }
      }
      .wrap {
        font-size: 12px;
        line-height: 32px;
        input[type="text"] {
          width: 100%;
          height: 32px;
          border: 1px solid $black;
          -moz-border-radius: 8px;
          border-radius: 8px;
          padding: 0 10px;
          line-height: 33px;
          color: #000;
          outline: none;
          appearance: none;
        }
      }
      textarea {
        width: 100%;
        border: 1px solid $black;
        border-radius: 8px;
        padding: 0 15px;
        font-size: 14px;
        line-height: 33px;
        color: #000;
        outline: none;
        appearance: none;
        resize: vertical;
        display: block;
        margin: 0;
        height: 100px;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0;
      button {
        cursor: pointer;
        width: 230px;
        height: 52px;
        border: none;
        display: block;
        padding: 0;
        background: $black;
        font-size: 15px;
        line-height: 52px;
        color: #fff;
        outline: none;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all .3s;
        &:hover {
          opacity: 0.8;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 9px;
          height: 9px;
          right: 14px;
          top: 22px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg);
          transition: all .3s ease-out;
        }
      }
    }
  }
  .scrollTop {
    width: 76px;
    position: fixed;
    right: 0;
    bottom: 173.5px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  .show {
    opacity: 1;
    visibility: visible;
  }
}
.footer {
  background: $grey;
  padding: percentage(30 /640) percentage(20 /640);
  p {
    font-size: 12px;
  }
  &_inner {
    padding: 0 37px;
    .left {
      .company_address {
        span {
          display: block;
          margin: 10px 0;
          &:nth-of-type(1) {
            font-size: 17px;
            line-height: 26px;
            font-weight: bold;
          }
        }
        a {
          color: $black;
          text-decoration: none;
          margin-top: 5px;
          display: block;
          font-size: 14px;
        }
      }
    }
    .right {
      .mobile_number {
        font-size: 23px;
        padding-bottom: 10px;
        margin-bottom: 17px;
        color: $black;
        text-decoration: none;
        position: relative;
        padding-left: 34px;
        &:after {
          content: "";
          position: absolute;
          background: url('../images/mobile_icon.png')no-repeat;
          width: 30px;
          height: 31px;
          top: -4px;
          left: 0;
          background-size: contain;
        }
      }
    }
  }
}
